<% include partials/header %>


 <h1>Welcome to <%=title%>  <a href="/addpatient">Add new patient</a>  </h1>

   <form action="/search">
    <input type="text" placeholder="enter patient name" name="patientName">
    <button>Search</button>
    </form>




<% include partials/footer %>
