<% include partials/header %>


<br>
<br>
<br>

<div class="ui container">

  <h1>Physician Locator <a href="/addphysician">Add new physician</a>  </h1>

   <form action="/search" name="tempForm" onsubmit="return validateForm()">
     <div class="ui search">
       <div class="ui icon input">
       <input class="prompt" type="text" placeholder="enter physician name" name="physician">
       <i class="search icon"></i>
     </div>
     <button class="ui blue button small">Locate</button>
     </div>
    </form>

<table class="ui celled table">

<thead>

  <tr><th>Physician First Name</th>
    <th>Physician Middle Name</th>
    <th>Physician Last Name</th>
    <th>Location</th>
  </tr></thead>

  <tbody>
    <% data.forEach(function(physician){ %>
    <tr>
        <td><%=physician.physicianFirstName%></td>
        <td><%=physician.physicianMiddleName%></td>
        <td><%=physician.physicianLastName%></td>
        <td><%=physician.location%></td>
    </tr>
      <%});%>
  </tbody>

</table>
</div>

<script>
  function validateForm() {

    var x = document.forms["tempForm"]["physician"].value;
    if(x == ""){
      alert("Name cannot be empty");
      return false;
    }

  }
</script>
<% include partials/footer %>
