<% include partials/header %>


  <div class="ui left demo vertical inverted sidebar labeled icon menu">
    <a href ="/" class="item">
      <i class="home icon"></i>
      Home
    </a>
  </div>

  <div class="ui basic icon top fixed menu">
    <a id="toggle" class="item">
      <i class="sidebar icon"></i>
      Menu
    </a>
  </div>

<div class="pusher">
  <div class="ui container">
    <br>
    <br>
    <br>
    <br>
    <br>
<span size="10"><font color="#00AEFF" size="7"><strong><%=physicianInfo.patientName%></strong></font> is located in the marked locations on the map</span>
  <div id="map"></div>
</div>
</div>

<script>
$("#toggle").click(function(){
  $('.ui.labeled.icon.sidebar')
  .sidebar('toggle');
});

  </script>

    <script>
      var map;
      const decodedphysicianJSON = decodeURIComponent("<%=encodephysicianJSON%>");
      const physician = JSON.parse(decodedphysicianJSON);
      //const newLocation = physician.location;
      console.log( physician.location);
      const newLocation = physician.location;
      if(newLocation === null)
      {
        newLocation = "San Francisco";
      }
      console.log(newLocation);
      //const temp = physicianLocation.toString(physicianLocation);
      //map options
      function initMap(){
      var options =  {
          zoom: 12
          //center: {lat: 42.3601, lng: -71.0589}
        }

      //create a new map
      var map = new google.maps.Map(document.getElementById('map'), options);

      var geocoder = new google.maps.Geocoder(); //initiate a Geocoder object
      //var location = "san francisco seton hospital";         //name of location
      geocoder.geocode({'address': newLocation}, function(results, status){
        if(status == google.maps.GeocoderStatus.OK){ //if the location status is aight
          map.setCenter(results[0].geometry.location);//set center
          var marker  = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
          })//new of marker
        }//end of if
      })//enf of geocode
    }//end of init map
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_JTfnSrfvtzk2WCaZNNo6CsGRovRAboA&callback=initMap"
    async defer></script>


<% include partials/footer %>
