
<h1>patient</h1>

<form action="/addpatient" method="POST">
 <input type="text" name="physician" placeholder="name">
 <input type="text" name="physician" placeholder="name">
 <input type="text" name="physician" placeholder="name">
 <input type="text" name="location" placeholder="location">
   <button>Submit</button>
</form>
