
<h1>patient</h1>

<form action="/addPhysician" method="POST">
 <input type="text" name="physicianFirst">
 <input type="text" name="physicianMiddle">
 <input type="text" name="physicianLast">
 <input type="text" name="location" placeholder="location">
   <button>Submit</button>
</form>
